
div {
    width: 500px;
    height: 100px;
    background-color: aliceblue;
}

h1 {
    background-color: blanchedalmond;
    width: 100px;
    padding-left: 100px;
    padding-top: 50;
}

#one {
    background-color: #fed9b7;
    border-width: 5px;
    border-color: #00afb9;
    border-style: solid;
    box-sizing: border-box;
}

#two {
    background-color: #fdfcdc;
    border-color: #f07167;
    border-width: 3px;
    border-style: dashed;
    border-left-color: #0081a7;
    box-sizing: border-box;
    padding-right: 50px;
}

#three {
    background-color: #f07167;
    border: 4px solid #0081a7;
    border-left-style: dotted;
    box-sizing: border-box;
    border-radius: 20px;
    /* border-radius: 50%; */
}

button {
    padding: 10px 20px; 
}