section {
    width: 500px;
    height: 500px;
    background-color: #FFC8DD;
}

#rgba {
    width: 50%;
    height: 50%;
    /* Only background color */
    background-color: rgba(205, 180, 219, 0.7);
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: #BDE0FE;
    /* Entire element */
    opacity: 0.5;
}